  {{#if user}}
    <p>Hello {{username}}, </p>
 
  {{/if}}

    {{#if project}}
    <p>You are now registered in {{project}} </p>
 
  {{/if}}

  
<br>
<br>
<br>
<br>
<a href="/users/studentprofile"> Go back to your Dashboard</a>